                        * {
                    margin: 0px;
                    padding: 0px;
                }
                
                #wrapper {
                    width: 950px;
                    background-color: silver;
                    margin: 0px auto;
                    display: inline-block;
                    padding: 20px;
                }
                
                #header {
                    min-height: 150px;
                    background-color: green;
                }
                
                #navigation {
                    height: 300px;
                    width: 200px;
                    background-color: blue;
                    vertical-align: top;
                    margin-top: 20px;
                    margin-right: 24px;
                    display: inline-block;
                }
                
                #main_content {
                    height: 355px;
                    background-color: red;
                    margin-top: 20px;
                    padding: 10px;
                    display: inline-block;
                }
                
                .subcontents {
                    min-height: 200px;
                    width: 210px;
                    background-color: yellow;
                    margin-right: 10px;
                    display: inline-block;
                }
                
                #advertisement {
                    min-height: 120px;
                    width: 660px;
                    background-color: purple;
                    margin-top: 20px;
                }
                
                @media only screen and (max-width: 480px) {
                    #navigation {
                        display: none;
                    }
                    #main_content {
                        width: 100%;
                        display: inline-block;
                    }
                    .subcontents {
                        width: 93%;
                        display: inline-block;
                    }
                    #advertisement {
                        width: 93%;
                    }
                }
                
                @media only screen and (min-width: 481px) and (max-width:1023px) {
                    #navigation {
                        display: none;
                    }
                    #main_content {
                        width: 100%;
                        display: inline-block;
                    }
                    .subcontents {
                        width: 33%;
                        display: inline-block;
                    }
                    #advertisement {
                        width: 97%
                    }
                    @media only screen and (min-width:1024px) {
                        #navigation {
                            display: inline block;
                        }
                        #main_content {
                            width: 80%;
                            display: inline-block;
                        }
                        .subcontents {
                            width: 70%;
                            display: inline-block;
                        }
                        #advertisement {
                            width: 75%
                        }